<o-form-layout-manager attr="FormType" mode="tab" title="FORMTYPE">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="FormTypeTable" 
            service="FormType" 
            entity="FormType" 
            title="FORMTYPE"
            keys="id"
            columns="description;form_code;id" 
            header-actions="R;D"
            visible-columns="description;form_code;id"  
            sort-columns="description" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #description attr="description" title=" description*" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #form_code attr="form_code" title="form_code" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>