<o-form-layout-manager attr="FilingDocument" mode="tab" title="FILINGDOCUMENT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="FilingDocumentTable" 
            service="FilingDocument" 
            entity="FilingDocument" 
            title="FILINGDOCUMENT"
            keys="id"
            columns="id;filing_id;document_title;document_url" 
            header-actions="R;D"
            visible-columns="id;filing_id;document_title;document_url"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="filing_id" title="filing_id">
    <o-table-cell-renderer-service attr="filing_id" 
        service="Filing" entity="FilingType" columns="id;id"
        parent-keys="id:filing_id"
        value-column="id" keys="filing_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #document_title attr="document_title" title="document_title" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #document_url attr="document_url" title="document_url" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>